:root {
	--processing-color: #F1CCB1;
	--structure-color: #B1D095;
	--properties-color: #B8C7E4;
	--performance-color: #B8A0E9;
}
/*Note: these colors are reset in starter.js under the assumption that eventually this all can be read in from a file*/


html,body {
	font: 12px sans-serif;
	font-family: sans-serif;
	padding:0;
	margin:0;
	background-color : var(--background-color);
	overflow: auto;
	color: var(--foreground-color);
	/*height:100%;*/
}

#container{
	display: inline-block;
	height:auto;
	position:relative;
}

.title{
	font-size:3vw;
	padding:2px;
	text-align:center;
	margin-bottom:3vh;
	margin-top:1vh;
}

.column{
	box-sizing: border-box;
	width: 25%;
	padding: 2vw;
	position: relative;
	float: left;
	/*z-index:10;*/
}

.columnTitle{
	font-size: 1.7vw;
	padding: 2px;
	text-decoration: underline;
	text-align: center;
	margin-bottom:2vh;
}



.box{
	box-sizing: border-box;
	min-height:4vh;
	border:1px solid black;
	margin:2vw;
	padding:1vw;
}

.wrapperBox{
	border:1px solid black;
	background-color: #D7DCE4;
}
.boxTitle{
	font-size:1.4vw;
	text-align:center;
	font-weight:bold;
}

.boxSubtitle{
	font-size:1.1vw;
	text-align:center;
}

.line{
	mix-blend-mode: multiply;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
}

.hidden{
	opacity:0;
}

.para{
	margin:20px;
	font-size:20px;
	text-align: justify;
	text-justify: inter-word;
}
.processingWord{
	color: var(--processing-color);
	font-style: italic;
	font-weight:bold;
}
.structureWord{
	color: var(--structure-color);
	font-weight:bold;
}
.propertiesWord{
	color: var(--properties-color);
	text-decoration: underline;
	font-weight:bold;
}
.performanceWord{
	color: var(--performance-color);
	font-style: italic;
	text-decoration: underline;
	font-weight:bold;
}

div.tooltip {	
	position: absolute;			
	text-align: center;			
	height: 16px;
	line-height:16px;					
	padding: 2px;				
	font: 12px sans-serif;		
	background: lightgray;
	border: 1px solid gray;
	border-radius: 8px;			
	pointer-events: none;
	opacity:0;
	-webkit-transition: opacity .4s;
	transition: opacity 0.4s;
	z-index:30;
}

/*for the controls*/
#hamburger{
	position:absolute;
	top:0;
	left:0;
	padding:10px;
	z-index:20;
	cursor:pointer;
}
.bar1, .bar2, .bar3 {
	width: 20px;
	height: 3px;
	background-color: #333;
	margin: 4px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 4px) ;
	transform: rotate(-45deg) translate(-6px, 4px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -4px) ;
	transform: rotate(45deg) translate(-6px, -4px) ;
}

#controls{
	display:inline-block;
	padding:10px;
	padding-left:40px;
	line-height:20px;
	font-size:20px;
	width:200px;
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(200, 200, 200, 0.95);
	border: 1px solid black;
	z-index:19;
	transform: translateX(-100%);
	-webkit-transition: transform .4s;
	transition: transform .4s;
}

/*for the on/off switches*/
/*https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 17px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border: 1px solid;
	border-color: darkgray;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 26px;
	left: 3px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: black;
	border-color: black;

}

input:focus + .slider {
	box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);

}

/* Rounded sliders */
.slider.round {
	border-radius: 10px;
}

.slider.round:before {
	border-radius: 10px;
}

