html,body {
	font: 12px sans-serif;
	font-family: sans-serif;
	padding:0;
	margin:0;
	background-color : var(--background-color);
	overflow: auto;
	color: var(--foreground-color);
	height:100%;
}

.title{
	font-size:3vw;
	padding:2px;
	text-align:center;
	margin-bottom:3vh;
	margin-top:1vh;
}

.column{
	box-sizing: border-box;
	width: 25%;
	padding: 2vw;
	position: relative;
	float: left;
}

.columnTitle{
	font-size: 1.7vw;
	padding: 2px;
	text-decoration: underline;
	text-align: center;
	margin-bottom:2vh;
}



.box{
	box-sizing: border-box;
	min-height:4vh;
	border:1px solid black;
	margin:2vw;
	padding:1vw;
}

.wrapperBox{
	border:1px solid black;
	background-color: #D7DCE4;
}
.boxTitle{
	font-size:1.4vw;
	text-align:center;
	font-weight:bold;
}

.boxSubtitle{
	font-size:1.1vw;
	text-align:center;
}


.para{
	font-size:1.1vw;
	padding:2px;
	padding-left:60vw;
}
.bordered{
	border: 1px solid black;
}
.scrollable{
	overflow:auto;
}
.notScrollable{
	overflow:hidden;
}
.hidden{
	display:none;
}
.buttonDiv{
	padding: 0px;
	margin: 0px;
	text-align: center;
	border: 2px solid var(--button-foreground-color);
	/*border-radius: 5px;*/
	opacity: 1.0;
	display:block;
	font-size:20px;
	color: var(--button-foreground-color);
	background-color:var(--button-background-color);
	cursor: pointer;
}
.buttonHover:hover {
	background-color: var(--button-foreground-color);
	color: var(--button-background-color);
}
.buttonClicked {
	background-color: var(--button-clicked-color);
	/*color: var(--button-background-color);*/
}

